<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="header-breadcrumbs background-menu-homepage">
        <div class="container">
            <div class="container-inner" style="margin-top:8px">
                <div class="fhs_top_banner">
                    <div>
                        <!-- start enable -->
                        <!-- Swiper -->
                        <!-- Add Arrows -->
                        <div class="swiper-button swiper-button2-prev swiper-btn-banner fhs_center_center" tabindex="0"
                             role="button" aria-label="Previous slide"><span class="ico_arrow_gray"></span></div>
                        <div class="swiper-button swiper-button2-next swiper-btn-banner fhs_center_center" tabindex="0"
                             role="button" aria-label="Next slide"><span class="ico_arrow_gray right"></span></div>
                        <div class="inivoslider swiper-container swiper-container-horizontal">
                            <div class="swiper-wrapper" width="840" height="320"
                                 style="height: 316px; transition-duration: 0ms; transform: translate3d(-7470px, 0px, 0px);">
                                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="10"
                                     style="width: 830px;">
                                    <a href="#">
                                        <img class="swiper-lazy"
                                             src="/image/309268328_827399811769791_8422304223136197066_n.jpg" alt=""
                                             title="#banner7-caption11">
                                        <div class="swiper-lazy-preloader"><img style="padding-bottom:0"
                                                                                src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ring_loader.gif">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="0" style="width: 830px;">
                                    <a href="#">
                                        <img class="swiper-lazy swiper-lazy-loaded"
                                             src="https://cdn0.fahasa.com/media/magentothem/banner7/Megasale_Main_Banner_Slide_840x320.jpg"
                                             alt="" title="#banner7-caption1">

                                    </a>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="1" style="width: 830px;">
                                    <a href="#">
                                        <img class="swiper-lazy swiper-lazy-loaded"
                                             src="https://cdn0.fahasa.com/media/magentothem/banner7/VPP_Main_banner_T9_840x320.jpg"
                                             alt="" title="#banner7-caption2">

                                    </a>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="2" style="width: 830px;">
                                    <a href="#">
                                        <img class="swiper-lazy swiper-lazy-loaded"
                                             src="https://cdn0.fahasa.com/media/magentothem/banner7/840x320_Manga.jpg"
                                             alt="" title="#banner7-caption3">

                                    </a>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="3" style="width: 830px;">
                                    <a href="#">
                                        <img class="swiper-lazy swiper-lazy-loaded"
                                             src="https://cdn0.fahasa.com/media/magentothem/banner7/STKT9_Banner_840x320.jpg"
                                             alt="" title="#banner7-caption4">

                                    </a>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="4" style="width: 830px;">
                                    <a href="#">
                                        <img class="swiper-lazy swiper-lazy-loaded"
                                             src="https://cdn0.fahasa.com/media/magentothem/banner7/casio_resize_web_t10.jpg"
                                             alt="" title="#banner7-caption5">

                                    </a>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="5" style="width: 830px;">
                                    <a href="#">
                                        <img class="swiper-lazy swiper-lazy-loaded"
                                             src="https://cdn0.fahasa.com/media/magentothem/banner7/dongamamxanh_t10_840x320.jpg"
                                             alt="" title="#banner7-caption6">

                                    </a>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="6" style="width: 830px;">
                                    <a href="#">
                                        <img class="swiper-lazy swiper-lazy-loaded"
                                             src="https://cdn0.fahasa.com/media/magentothem/banner7/pnj_840x320.jpg"
                                             alt="" title="#banner7-caption7">

                                    </a>
                                </div>
                                <div class="swiper-slide swiper-slide-prev" data-swiper-slide-index="7"
                                     style="width: 830px;">
                                    <a href="#">
                                        <img class="swiper-lazy swiper-lazy-loaded"
                                             src="https://cdn0.fahasa.com/media/magentothem/banner7/MocaT1022_840x320.jpg"
                                             alt="" title="#banner7-caption8">

                                    </a>
                                </div>
                                <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="8"
                                     style="width: 830px;">
                                    <a href="#">
                                        <img class="swiper-lazy swiper-lazy-loaded"
                                             src="https://cdn0.fahasa.com/media/magentothem/banner7/FHSPOTICO_840x320.png"
                                             alt="" title="#banner7-caption9">

                                    </a>
                                </div>
                                <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="9"
                                     style="width: 830px;">
                                    <a href="#">
                                        <img class="swiper-lazy"
                                             src="https://cdn0.fahasa.com/media/magentothem/banner7/FahasaOnline-T10_840x320.jpg"
                                             alt="" title="#banner7-caption10">
                                        <div class="swiper-lazy-preloader"><img style="padding-bottom:0"
                                                                                src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ring_loader.gif">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="10" style="width: 830px;">
                                    <a href="#">
                                        <img class="swiper-lazy"
                                             src="https://cdn0.fahasa.com/media/magentothem/banner7/VNPAY_Bo_1_840x320.jpg"
                                             alt="" title="#banner7-caption11">
                                        <div class="swiper-lazy-preloader"><img style="padding-bottom:0"
                                                                                src="https://cdn0.fahasa.com/skin/frontend/ma_vanese/fahasa/images/ring_loader.gif">
                                        </div>
                                    </a>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0"
                                     style="width: 830px;">
                                    <a href="#">
                                        <img class="swiper-lazy swiper-lazy-loaded"
                                             src="https://cdn0.fahasa.com/media/magentothem/banner7/Megasale_Main_Banner_Slide_840x320.jpg"
                                             alt="" title="#banner7-caption1">

                                    </a>
                                </div>
                            </div>
                            <!-- Add Arrows -->
                            <!-- pagination dots -->
                            <div class="swiper-pagination swiper-pagination-bullets"><span
                                    class="swiper-pagination-bullet"></span><span
                                    class="swiper-pagination-bullet"></span><span
                                    class="swiper-pagination-bullet"></span><span
                                    class="swiper-pagination-bullet"></span><span
                                    class="swiper-pagination-bullet"></span><span
                                    class="swiper-pagination-bullet"></span><span
                                    class="swiper-pagination-bullet"></span><span
                                    class="swiper-pagination-bullet"></span><span
                                    class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span
                                    class="swiper-pagination-bullet"></span><span
                                    class="swiper-pagination-bullet"></span></div>
                            <!-- !pagination dots -->
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                        <!-- Initialize Swiper -->
                        <!-- end enable -->
                    </div>
                    <div>
                        <div>
                            <a href="#"><img class="border_radius_normal"
                                                                                       src="https://cdn0.fahasa.com/media/wysiwyg/Thang-10-2022/Megasale_Flashsale_Subbanner_392x156.jpg "></a>
                        </div>
                        <div>
                            <a href="#"><img
                                    class="border_radius_normal"
                                    src="https://cdn0.fahasa.com/media/wysiwyg/Duy-VHDT/STKT9_Banner_392x156.jpg"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</th:block>